@import "style/variaveis";
@import "style/breakpoints";

.form {
  position: absolute;
  width: 40vw;
  height: 50vh;
  top: 25vh;
  right: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: $secundaria;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 0 100vw $sombra;

  &__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 90%;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $cinzaClaro;
    outline: 0;
    font-size: 1.3rem;
    color: $branco;
    padding: 12px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:valid {
      ~ .form__label {
        top: 5px;
        font-size: 0.8rem;
      }
    }

    &:focus {
      ~ .form__label {
        position: absolute;
        top: 5px;
        display: block;
        transition: 0.2s;
        font-size: 0.8rem;
        background-color: $secundaria;

        color: $primaria;
        font-weight: 700;
      }

      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $primaria, $secundaria);
      border-image-slice: 1;
    }

    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  &__label {
    position: absolute;
    top: 25px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $cinzaClaro;
  }

  &__submit {
    margin-top: 2.5rem;
    padding: 10px 20px;
    color: $cinzaClaro;
    background-color: transparent;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    border: 1px solid $primaria;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;

    &:hover {
      background: $primaria;
      color: $branco;
      box-shadow: 0 0 5px $primaria, 0 0 25px $primaria, 0 0 50px $primaria,
        0 0 100px $primaria;
    }
  }
}

.form__field:placeholder-show ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}
